.home-jumbotron {
  height: 60vh;
  color: white;
  position: relative;
  background-color: transparent !important;
  border-radius: none !important;
}

.home-jumbotron::before {
  content: '';
  background-image: url('../assets/bg-image.jpg');
  background-position-y: 650px;
  background-size: cover;
  filter: brightness(60%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -1;
}

.home-jumbotron h1 {
  font-size: 4em;
}

.home-jumbotron input {
  height: 4em;
  width: 20em;
}

.home-jumbotron button {
  width: 5em;
  font-size: 2em;
  color: white;
}

.fav-container {
  padding-top: 7em;
  min-height: 60vh;
  background-color: white;
}
