.jumbotron {
  /* background-color: #343a40 !important; */
  height: 50vh;
  color: white;
  background-image: url('../assets/bg-image.jpg');
  background-position-y: 574px;
  background-size: cover;
}

.jumbotron h1 {
  font-size: 4em;
}

.jumbotron input {
  height: 4em;
  width: 20em;
}

.jumbotron button {
  width: 5em;
  font-size: 2em;
  color: white;
}
