.home-jumbotron {
  height: 60vh;
  color: white;
  position: relative;
  background-color: transparent !important;
  border-radius: none !important;
}

.home-jumbotron::before {
  content: '';
  background-image: url('../assets/bg-image.jpg');
  background-position-y: 650px;
  background-size: cover;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -1;
}

.home-jumbotron h1 {
  font-size: 4em;
}

.home-jumbotron input {
  height: 4em;
  width: 20em;
}

.home-jumbotron button {
  width: 5em;
  font-size: 2em;
  color: white;
}

.fav-container {
  padding-top: 7em;
  min-height: 60vh;
  background-color: white;
}

@media screen and (max-width: 463px) {
  .home-jumbotron {
    height: 30vh;
    position: unset;
    padding-top: 6em;
  }

  .home-jumbotron::before {
    background-position-y: 500px;
  }

  .home-jumbotron h1 {
    font-size: 1.7em;
  }
  .home-jumbotron h3 {
    font-size: 1em;
  }
  .home-jumbotron button {
    width: em;
    font-size: 0.8em;
    color: white;
  }
  .home-jumbotron input {
    height: 2.5em;
    width: 15em;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1024px) and (min-width: 464px) {
  .home-jumbotron {
    height: 40vh;
  }

  .home-jumbotron::before {
    background-position-y: 350px;
  }

  .home-jumbotron h1 {
    font-size: 2.5em;
  }
  .home-jumbotron h3 {
    font-size: 1em;
  }
  .home-jumbotron button {
    width: 5em;
    font-size: 1em;
    color: white;
  }
  .home-jumbotron input {
    height: 3em;
    width: 15em;
  }
}
