.container-fluid {
  background-color: rgb(5, 5, 5);
  color: rgb(239, 239, 239);
  padding-left: 3em;
  padding-right: 3em;
}

.movie-col img {
  width: 100%;
  height: 100%;
}

.movie-col img,
.play-div {
  transition: transform 0.1s;
}

.movie-col img:hover {
  transform: scale(1.1);
}

.modal-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.modal-body {
  background-color: rgb(12, 12, 12);
  color: rgb(239, 239, 239);
}

.heart-icon {
  font-size: 1.7em;
  margin-top: 0.2em;
  color: #ffc107;
}

.play-icon {
  font-size: 1.5em;
}

.genre-list {
  font-size: 0.8em;
  border: 1px solid white;
  border-radius: 20px;
}

.genre-div {
  justify-content: space-evenly;
}

.play-div {
  background-color: #272727;
  border-radius: 5px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.play-div:hover {
  color: #ffc107;
  background-color: black;
  transform: scale(1.1);
}

hr {
  background-color: rgb(158, 158, 158);
  margin-top: 0%;
  /* margin-bottom: 0%; */
}

.badge {
  font-size: 1em;
}

.award-p {
  font-size: 1.1em;
}

.modal-name {
  color: rgb(238, 238, 238);
}
.modal-name:hover {
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.carousel-control-next {
  width: 2%;
  right: 0;
}
.carousel-control-prev {
  width: 2%;
  left: 0;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.sk-spinner {
  color: rgb(255, 193, 7) !important;
  background-color: rgb(5, 5, 5);
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-top: 3em; */
}
.sk-spinner div {
  width: 30px !important;
  height: 30px !important;
}
