.navbar {
  background-color: rgb(5, 5, 5) !important;
}

.acount-icon {
  color: white;
  width: 35px;
  height: 35px;
}

.navbar-nav a {
  color: white;
}

/* .nav-item a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
} */

.dropdown-menu a {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
