.navbar {
  background-color: rgb(5, 5, 5) !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.acount-icon {
  color: white;
  width: 35px;
  height: 35px;
}

.navbar-nav a {
  color: white;
  margin-right: 1rem;
}

/* .nav-item a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
} */

.dropdown-menu a {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  /* transition: text-decoration 1s; */
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  text-decoration: underline 3px #ffc007;
}
