.person-detail-container {
  padding-top: 7em !important;
}

.detail-col {
  padding-left: 10em !important;
  padding-right: 10em !important;
}

span {
  font-size: 1.5em;
}

.star {
  color: #ffc007;
}

.person-image {
  object-fit: cover;
  object-position: top;
}
