.container-fluid {
  background-color: rgb(5, 5, 5);
  color: rgb(239, 239, 239);
}

.person-col img {
  object-fit: cover;
  object-position: top;
}

.person-col img {
  transition: transform 0.1s;
}

.person-col img:hover {
  transform: scale(1.1);
}

.person-container {
  padding-top: 5em;
}

.liked-person-container {
  padding-top: 7em;
}
