.person-jumbotron {
  height: 60vh;
  color: white;
  position: relative;
  background-color: transparent !important;
  border-radius: none !important;
}

.person-jumbotron::before {
  content: '';
  background-image: url('https://images.pexels.com/photos/275200/pexels-photo-275200.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position-y: 600px;
  background-size: cover;
  filter: brightness(30%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -3;
}

.person-jumbotron h1 {
  font-size: 4em;
}

.person-jumbotron input {
  height: 4em;
  width: 20em;
}

.person-jumbotron button {
  width: 5em;
  font-size: 2em;
  color: white;
}

.fav-person-image {
  object-fit: cover;
  object-position: top;
}

.fav-person-image {
  transition: transform 0.1s;
}
.fav-person-image:hover {
  transform: scale(1.1);
}

.person-search-image {
  height: 200px;
  width: 200px;
}

.personrow-heart-icon {
  margin-top: 0.4em;
  font-size: 1.3em;
  color: #ffc107;
}

@media screen and (max-width: 463px) {
  .person-jumbotron {
    height: 40vh;
    /* position: unset; */
    padding-bottom: 0;
  }

  .person-jumbotron::before {
    background-position-y: 430px;
  }

  .person-jumbotron h1 {
    font-size: 1.7em;
  }
  .person-jumbotron h3 {
    font-size: 1em;
  }
  .person-jumbotron button {
    width: em;
    font-size: 0.8em;
    color: white;
  }
  .person-jumbotron input {
    height: 2.5em;
    width: 15em;
    font-size: 0.8em;
  }

  .person-container {
    min-height: 15em;
  }

  .personrow-heart-icon {
    margin-top: 0.3em;
    font-size: 1.3em;
    color: #ffc107;
  }
  .person-search-image {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 464px) {
  .person-jumbotron {
    height: 40vh;
    padding-bottom: 0;
  }

  .person-jumbotron::before {
    background-position-y: 400px;
  }

  .person-jumbotron h1 {
    font-size: 2.5em;
  }
  .person-jumbotron h3 {
    font-size: 1em;
  }
  .person-jumbotron button {
    width: 5em;
    font-size: 1em;
    color: white;
  }
  .person-jumbotron input {
    height: 3em;
    width: 15em;
  }

  .person-container {
    min-height: 22em;
  }

  .personrow-heart-icon {
    margin-top: 0.4em;
    font-size: 1.2em;
    color: #ffc107;
  }
}
