.person-jumbotron {
  height: 50vh;
  color: white;
  position: relative;
  background-color: transparent !important;
  border-radius: none !important;
}

.person-jumbotron::before {
  content: '';
  background-image: url('https://images.pexels.com/photos/275200/pexels-photo-275200.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position-y: 574px;
  background-size: cover;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -3;
}

.person-jumbotron h1 {
  font-size: 4em;
}

.person-jumbotron input {
  height: 4em;
  width: 20em;
}

.person-jumbotron button {
  width: 5em;
  font-size: 2em;
  color: white;
}
